<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bootstrap Card Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Video 1</h5>
              <p class="card-text">This is a video about X</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qQ7MP2e7Bqk" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Video 2</h5>
              <p class="card-text">This is a video about Y</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5g4IC2zmN0I" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Video 3</h5>
              <p class="card-text">This is a video about Z</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PhEVf9vJ1fc" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<app-root></app-root>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".play-icon").click(function() {
				var iframe = $(this).closest(".card-body").find("iframe");
				iframe.attr("src", iframe.attr("src") + "?autoplay=1");
				$(this).hide();
			});
		});
	</script>
  </body>
</html>
